bin
sim_build
*.swp
__pycache__
test/obj_dir*
.DS_Store
*.o
build

# Simulation files
*.vcd

# Python
*.pyc
.pytest_cache/
.venv/
venv/
.uv-cache/

# Test results
results.xml

# Binary files
*.bin
*.hex
*.elf
